*, :before, :after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

html {
	font-size: calc(8px + (10 - 8) * (100vw - 320px) / (1920 -320));
}

body,
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	font-family: cambria;
}

a, ul, ol, li {
	text-decoration: none;
	list-style: none;
	padding: 0;
	margin: 0;
}

	/*GLOBAL*/
		
.content_width {
	max-width: 1920px;
}

.content_center {
	margin: 0 auto;
}

.wrapper_width {
	max-width: 1200px;
}

.d_flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.f-d_column {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.j-c_center {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.a-i_center {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.a-i_f-end {
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}

.j-c_start {
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

.j-c_end {
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.j-c_space-a {
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

.j-c_space-b {
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.j-c_center {
	justify-content: center;
}

.f-wrap {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.b-r_no-repeat {
	background-repeat: no-repeat;
}

.t-a_center {
	text-align: center;
}

.t-t_uppercase {
	text-transform: uppercase;
}

.color_text1 {
	color: #fc635ef7;
}

.f-w_bold {
	font-weight: bold;
}

.f_s_italic {
	font-style: italic;
}

/*VitaStudio*/

body {
	background-color: #f5d4cd;
}

header {
	background-color: #58585a;
	min-height: 170px;
}

.box_video {
	width: 1200px;
	margin: 45px auto 0;
}

.video {
	-o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*box_women_img*/
.box_women_img {
	background-color: #d4c1bd;
	margin: 0 auto;
	padding: 15px 20px;
}

.box_women_img div img {
	margin-top: 50px;
}

.box_women_img p {
	margin-top: 10px;
	text-align: center;
	font-size: 22px;
	font-weight: 600;
	font-family: sans-serif;
	color: #585455;
}

.img_servies {
	width: 194px;
	height: 276px;
	border-radius: 5px;
}

/*reviews*/
.reviews {
	margin: 0 auto;
	background-color: #58585a;
	color: white;
	font-size: 20px;
	padding-bottom: 35px;
}

.reviews > div {
	padding: 30px 100px 0; 
}

.reviews_coments {
	max-width: 1000px;
	margin: 0 auto;
}

.coments {
	text-align: justify;
}

.coments_name {
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	font-size: 1.8rem;
	margin: 10px 0 15px;
}

.myBut {
	width: 140px;
	height: 40px;
	background-color: #f5d4cd;
	border-radius: 10px;
	font-size: 2rem;
	font-weight: bold;
	color: #615956;
	text-align: center;
	cursor: pointer;
}

/*brands_we_work_with*/

.brands_we_work_with {
	padding: 45px 0;
	margin: 0 auto;
}

.brands_we_work_with_title {
	margin: 0 auto;
	width: 300px;
	min-height: 75px;
	border: 3px dotted #585455;
	border-bottom: 3px dotted transparent;
	position: relative;
}

.brands_we_work_with_subtitle1 {
	position: absolute;
	width: 146px;
	min-height: 3px;
	border-top: 3px dotted #585455;
	bottom: -18px;
	-webkit-transform: rotate(10deg);
	    -ms-transform: rotate(10deg);
	        transform: rotate(10deg);
}

.brands_we_work_with_subtitle2 {
	position: absolute;
	width: 147px;
	min-height: 3px;
	border-top: 3px dotted #585455;
	bottom: -18px;
	right: 0;
	-webkit-transform: rotate(-10deg);
	    -ms-transform: rotate(-10deg);
	        transform: rotate(-10deg);
}

.brands_we_work_with_text {
	font-size: 30px;
	text-align: center;
	padding-top: 10px;
}

.brands_we_work_with_img {
	margin-top: 50px;
}

.brands_img {
	max-width: 400px;
	height: auto;
}

footer {
	min-height: 175px;
	background-color: #58585a;
	color: white;
	margin-top: 35px;
} 

footer i {
	margin-right: 10px;
	font-size: 30px;
}

.footer_contacts {
	font-size: 18px;
	font-weight: 400;
}

footer a {
	color: white;
}

.footer_contacts > div {
	margin-top: 15px;
	cursor: pointer;
	padding: 5px;
	border-radius: 5px;
}

.footer_contacts > div:hover {
	background-color: grey;
}

.links {
	font-size: 16px;
	margin-top: 15px;
}

.links a {
	padding: 5px;
}

.links a:hover {
	background-color: grey;
	border-radius: 5px;
}

/*foro_gallery*/
.foro_gallery {
	background-color: #d4c0bc;
	margin-top: 45px;
	padding: 15px;
	border-radius: 15px;
}

.foro_gallery img {
	border-radius: 5px;
	margin-bottom: 10px;
}

.img_type1 {
	width: 375px;
}

.img_type2 {
	width: 275px;
}

/*contacts*/

.contact_information {
	background-color: #d4c1bd;
	border-radius: 15px;
	margin-top: 50px;
}

.contact,
.contact a {
	font-size: 20px;
	color: #373535; 
}

.contact_title {
	font-size: 24px;
	font-weight: bold;
	margin: 25px 0 10px;
}

.contact p,
.contact div div div {
	margin-bottom: 10px;
}



#map {
	width: 100%;
	height: 600px;
}


