@media (max-width: 1200px) {
	/*главная*/
	.wrapper_width {
		max-width: 900px;
	}

	.box_women_img div img {
		margin-top: 35px;
	}

	.box_women_img p {
		font-size: 18px;
	}

	.img_servies {
		width: 155px;
		height: 220px;
	}

	.reviews {
		font-size: 18px;
	}

	.brands_we_work_with_text {
		font-size: 26px;
	}

	.brands_img {
		max-width: 250px;
		height: auto;
	}

	/*О центре*/
	.about_sylton div p {
		font-size: 24px;
		line-height: 40px;
	}

	.about_sylton img {
		max-width: 250px;
	}

	.about_sylton_description div p {
		font-size: 20px;
		line-height: 26px;
	}

	div.about_sylton_results p {
		font-size: 20px;
	}

	.Our_advantages h2 {
		font-size: 22px;
	}
	
	.Our_advantages p {
		font-size: 20px;
	}

	.laser_hair_removal .text_description,
	.observ520 .text_description {
		line-height: 35px;
	} 

	.observ520_img img {
		width: 280px;
		transform: none;
	}

	/*foro_gallery*/
	.foro_gallery img {
		margin-bottom: 5px;
	}

	.img_type1 {
		max-width: 33%;
	}

	.img_type2 {
		max-width: 24%;
	}

}

@media (max-width: 992px) {
	/*главная*/
	.wrapper_width {
		max-width: 750px;
	}

	.box_women_img div img {
		margin-top: 25px;
	}

	.box_women_img p {
		font-size: 16px;
	}

	.box_women_img div div {
		min-width: 20%;
	}

	.img_servies {
		width: 124px;
		height: 176px;
	}

	.reviews > div {
		padding: 15px 50px 0; 
	}

	.brands_img {
		max-width: 200px;
		height: auto;
	}
	
	.footer_contacts {
		font-size: 16px;
	}

	.links {
		font-size: 15px;
	}

	/*О центре*/

	.execution_of_procedures h2 {
		font-size: 22px;
		margin-bottom: 15px;
	}

	.execution_of_procedures h3 {
		font-size: 22px;
		margin: 0 45px 10px;
	}

	.execution_of_procedures p {
		margin: 0 45px 25px;
	}

	.execution_of_procedures li {
		font-size: 22px;
		line-height: 35px;
	}
	
	.execution_of_procedures p:last-child {
		margin-top: 30px;
		font-size: 22px;
		line-height: 30px;
	}

	.condition_assessment img {
		max-width: 50%;
		height: 300px;
	}

	.condition_assessment div div p {
		font-size: 24px;
		line-height: 35px;
	}

	.condition_assessment div p {
		font-size: 20px;
		margin: 10px;
		letter-spacing: 0px;
	}

	.about_sylton .line {
		min-height: 5px;
	}

	.about_sylton div p {
		font-size: 20px;
	}

	.about_sylton_description div p {
		font-size: 18px;
	}

	div.about_sylton_results p {
		font-size: 18px;
	}
	
	.Our_advantages h2 {
		font-size: 18px;
		margin: 15px 0 10px;
	}
	
	.Our_advantages p {
		font-size: 16px;
		padding: 10px;
		margin-bottom: 15px;
	}

	.laser_hair_removal h2,
	.observ520 h2 {
		font-size: 22px;
	}

	.text_description,
	.cleaning li {
		font-size: 16px;
		margin-top: 10px;
	}

	.observ520_img img {
		width: 260px;
	}

	/*Candela GentleLase Pro*/ 
	.candela_GentleLasePro img {
		width: 250px;
	} 
}

@media (max-width: 768px) {
	/*главная*/
	.wrapper_width {
		max-width: 460px;
	}

	.nav_content {
		font-size: 20px;
	}

	.box_women_img div img {
		margin-top: 20px;
	}

	.box_women_img p {
		font-size: 16px;
	}

	.img_servies {
		width: 124px;
		height: 176px;
	}

	.box_women_img div div {
		min-width: 50%;
	}

	.reviews {
		font-size: 16px;
	}

	.brands_we_work_with {
		padding: 25px 0;
	}

	.brands_we_work_with_title {
		width: 200px;
		min-height: 55px;
	}
	
	.brands_we_work_with_subtitle1 {
		width: 100px;
		transform: rotate(14deg);
	}

	.brands_we_work_with_subtitle2 {
		width: 100px;
		transform: rotate(-14deg);
	}

	.brands_we_work_with_text {
		font-size: 20px;
		padding-top: 5px;
	}

	.brands_img {
		max-width: 150px;
		height: auto;
	}

	footer i {
		font-size: 30px;
	}

	.footer_contacts {
		font-size: 14px;
	}

	.links {
		font-size: 14px;
	}

	/*О центре*/
	.execution_of_procedures img {
		margin: 15px auto;
	}

	.execution_of_procedures h2 {
		font-size: 18px;
		margin-bottom: 10px;
	}

	.execution_of_procedures p {
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 15px;
	}
	
	.execution_of_procedures h3 {
		font-size: 18px;
		margin-bottom: 0;
	}

	.execution_of_procedures li {
		font-size: 18px;
		line-height: 25px;
	}

	.execution_of_procedures p:last-child {
		margin-top: 15px;
		font-size: 18px;
		line-height: 20px;
	}

	.condition_assessment_title {
		flex-direction: column;
	}
	
	.condition_assessment img {
		min-width: 80%;
		height: 275px;
		margin: 10px auto;
	}

	.condition_assessment div div p {
		font-size: 18px;
		line-height: 20px;
		letter-spacing: 0px;
		text-align: justify;
		margin: 0 10px;
	}

	.condition_assessment div p {
		font-size: 18px;
		letter-spacing: 0px;
	}
	
	.about_sylton_title {
		flex-direction: column;
		align-items: center;
	}

	.f-order_1 {
		order: 1;
	}

	.about_sylton div p {
		font-size: 16px;
		margin: 0;
		line-height: 20px;
	}

	.about_sylton .line {
		margin: 15px auto;
	}
	
	.about_text {
		margin: 10px auto 0;
		padding-top: 10px;
	}

	.about_text h2 {
		font-size: 20px;
	}
	
	.about_text p {
		font-size: 16px;
	}

	.about_text p:last-child {
		font-size: 18px;
		line-height: 24px;
		margin-top: 15px;
	}
	
	.text_description,
	.cleaning li {
		font-size: 18px;
		margin: 0;
		line-height: 24px;
	}

	.laser_hair_removal img {
		margin: 0 0 0 5px;
		width: 150px;
	}

	.observ520 img {
		width: 250px;
	}
	
	.hardware_cosmetology img {
		width: 200px;
	}

	.consultations .title,
	.injections .title,
	.botulinum_therapy .title,
	.cleaning .title,
	.cares .title,
	.hardware_cosmetology .title {
		font-size: 22px;
		margin: 10px auto;
	}

	.hardware_cosmetology .sub_title {
		margin-bottom: 10px;
	}

	/*Candela GentleLase Pro*/ 
	.candela_GentleLasePro img {
		width: 200px;
	}

	.candela_GentleLasePro h2 {
		font-size: 20px;
		margin-bottom: 15px;
	}
	
	.candela_GentleLasePro p {
		font-size: 18px;
		line-height: 25px;
	}


	
}

@media (max-width: 460px) {
	/*главная*/
	.wrapper_width {
		max-width: 310px;
	}

	.nav_content {
		font-size: 20px;
	}

	.box_women_img div img {
		margin-top: 15px;
	}

	.box_women_img div div {
		min-width: 50%;
	}

	.box_women_img p {
		font-size: 14px;
		margin-top: 5px;
	}

	.img_servies {
		width: 111px;
		height: 158px;
	}

	.box_women_img div div {
		min-width: 50%;
	}

	.reviews {
		font-size: 16px;
	}

	.brands_img {
		max-width: 100px;
		height: auto;
	}

	footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	footer > div {
		flex-direction: column;
	}

	.links {
		margin-top: 0;
	}

	footer i {
		font-size: 20px;
	}

	.footer_contacts {
		font-size: 14px;
	}

	.footer_contacts > div {
		margin-top: 5px;
	}

	.links {
		font-size: 14px;
	}

	/*О центре*/

	.condition_assessment img {
		min-width: 80%;
		height: 200px;
	}
	
	.t-a_right {
		text-align: right;
	}


	.laser_hair_removal h2,
	.observ520 h2 {
		font-size: 20px;
		margin-bottom: 10px;
	}

	.observ520 img {
		width: 150px;
	}
	
	.laser_hair_removal .text_description,
	.observ520 .text_description {
		line-height: 25px;
	} 

	.hardware_cosmetology img {
		width: 125px;
	}

	button {
		margin: 10px 10px 0;
		padding: 5px 10px;
		font-size: 14px;
	}

	.consultations button,
	.injections button,
	.botulinum_therapy button,
	.cleaning button,
	.cares button {
		margin-top: 15px;
	}

	/*Candela GentleLase Pro*/ 
	.candela_GentleLasePro img {
		width: 200px;
		float: none;
		margin: 0 0 10px;
	}

	.candela_GentleLasePro h2 {
		font-size: 18px;
		margin-bottom: 15px;
	}
	
	.candela_GentleLasePro p {
		font-size: 16px;
		line-height: 20px;
	}

	.candela_GentleLasePro div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}


}

@media (max-width: 320px) {
	/*главная*/
	.wrapper_width {
		max-width: 300px;
	}

	/*О центре*/
	
	.condition_assessment img {
		min-width: 80%;
		height: 175px;
	}
	


}