.procedures {
	margin-top: 45px;
	padding: 20px 15px 20px 35px;
	border-radius: 20px;
	background-color: #d4c1bd;
	color: #585455;
}

.text_title {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 20px;
}

.procedures .text {
	font-style: italic;
	font-weight: 600;
	font-size: 22px;
	margin-bottom: 20px;
}

.procedures .text2 {
	font-size: 16px;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 10px;
}

.procedures .text3 {
	font-size: 16px;
	padding: 10px 0;
}

.border {
	border-left: 1px dotted black;
	border-right: 1px dotted black; 
}

.price_descriptions {

}

table {
	min-width: 80%;
	font-size: 18px;
	line-height: 35px;
}

table tr {
	padding: 10px;
}

table tr :nth-of-type(1) {
	width: 50%;
}

table tr :nth-of-type(2) {
	width: 25%;
}

table tr :nth-of-type(3) {
	width: 25%;
}

table thead {
	font-size: 18px;
	font-weight: 600;
}

.sub_text {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 20px;
}

.procedures span {
	font-size: 18px;
	font-weight: 500;
}

.procedures td span {
	text-transform: uppercase;
	font-weight: bold;
}

.procedures .col1 {
	width: 50%;
}

.procedures .col2 {
	width: 12.5%;
}

.procedures .col3 {
	width: 12.5%;
}

.procedures .col4 {
	width: 25%;
}
